h1 {
	font-size: 200%;
}

h2 {
	font-size: 150%;
}

#update-msg-rounder {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

#options {
	width: 600px;
	margin: auto;
	padding: 20px 10px;

}

input, textarea {
	border: 1px solid #999999;
	padding: 5px;
	font-size: 75%;
	width: 98%;
	border-radius: 2px;
}

textarea {
	min-height: 150px;
}

label {
	display: block;
	color: #666666;
	padding-bottom: 5px;
}

section {
	margin: 20px 0;
}

p {
	margin: 10px 0;
}

.action {
	cursor: pointer;
}

.adder {
	border: 1px solid #f2f2f2;
	padding: 10px 15px;
}

.action {
	padding: 2px 5px;
	border: 1px solid;
	border-radius: 3px;
}

.action-flat {
	background-color: #f2f2f2;
	border-color: #999999;
}

.action-raised {
	background-color: #1a5062;
	border-color: #1a5062;
	color: #ffffff;
}

.action-big {
	padding: 5px 10px;
	font-size: 100%;
}

#update-msg {
	background: #1a5062;
	color: #ffffff;
	padding: 5px 10px;
}

.options-divider {
	border-bottom: 1px dashed #999999;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.removable-list {
	list-style: none;
	margin-bottom: 20px;
}

.removable-list li {
	border: 1px solid #f2f2f2;
	padding: 5px 10px;
	margin: 0 10px 5px 0;
	display: inline-block;
}

.removable-list li:hover {
	background: #F2F2F2;
}

.x-button {
	float: right;
}

.close-x {
	background: #1a5062;
	color: #ffffff;
	font-size: 50%;
	padding: 0 4px;
	margin-left: 5px;
	cursor: pointer;
	border-radius: 5px;
}

.gray {
	color: #999999;
}

#log {
	border: 1px solid #999999;
	background-color: #F2F2F2;
	padding: 20px;
	font-size: 12px;
	margin: 10px 0 20px 0;
}
