#popup {
	width: 400px;
	margin: auto;
	padding: 15px;
}

h1 {
	font-size: 200%;
}

h3 {
	font-weight: bold;
	color: #666666;
	padding: 10px 0;
}

#watchlist {
	overflow: hidden;
	overflow-y: scroll;
	max-height: 450px;
	padding-bottom: 20px;
}

.watchlist {
	font-size: 75%;
	list-style: none;
	margin-bottom: 10px;
}

.watchlist-row {
	margin-bottom: 10px;
	padding-left: 10px;
}

.watchlist-row-unseen {
	font-weight: bold;
}

.watchlist-counts {
	width: 20%;
	float: left;
}

.watchlist-query a {
	display: block;
	padding: 4px 0;
	font-size: 14px;
}

.watchlist-query a:hover {
	color: #40BDC2;
}

#list-template {
	display: none;
}

.count {
	width: 25%;
	float: left;
	padding: 2px 5px;
	margin-right: 5px;
}

.unseen-count {
	background: #ffecec;
	border: 1px solid #f8cbcb;
}

.seen-count {
	background: #eaffea;
	border: 1px solid #a6f3a6;
}

footer {
	padding: 10px;
}

.link {
	cursor: pointer;
}
