#popup {
	width: 400px;
	margin: auto;
	padding: 15px;
}

h3 {
	font-weight: bold;
	color: #666666;
	padding: 10px 0;
}

.watchlist {
	font-size: 75%;
	list-style: none;
	margin-bottom: 10px;
}

#list-template {
	display: none;
}

.count {
	display: inline-block;
	width: 21px;
	height: 12px;
	padding: 1px;
}

.unseen-count {
	background: #ffecec;
	border: 1px solid #f8cbcb;
}

.seen-count {
	background: #eaffea;
	border: 1px solid #a6f3a6;
}

.query-project {
	/*background: #FEF2CC;*/
	/*border: 1px solid #FEE599;*/
	color: #999999;
	padding: 2px 4px;
}

.query {
	font-size: 14px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	max-width: 225px;
}

footer {
	padding: 10px;
}

.link {
	cursor: pointer;
}

ul.watchlist li {
	padding: 4px 2px;
	margin-bottom: 2px;
}

ul.watchlist li:hover {
	background: #f2f2f2;
}


