html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	line-height: 1;
	font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
	color: #333333;
}

a {
	text-decoration: none;
	color: #1a5062;
}

a.super-link {
	text-decoration: underline;
}

blockquote {
	border: 1px solid #cccccc;
	background: #f7f7f7;
	padding: 15px;
	font-size: 80%;
}

footer {
	border-top: 1px solid #cccccc;
	background: #f7f7f7;
	padding: 20px;
	text-align: right;
	color: #8c8c8c;
	font-size: 75%;
}

h1, h2, h3 {
	color: #4a4a4a;
	font-weight: 200;
}

h1 {
	font-size: 200%;
	padding-bottom: 20px;
}

.clear {
	clear: both;
}

.text-right {
	text-align: right;
}

.text-hyperlinked {
	cursor: pointer;
}

.link {
	cursor: pointer;
}

.link:hover {
	color: #4a4a4a;
}

.icon {
	height: 16px;
	vertical-align: text-bottom;
	opacity: 0.5;
}

.link:hover .icon {
	opacity: 0.8;
}

.gray {
	color: #999999;
}

.slim {
	font-weight: 400;
}

.tiny {
	font-size: 25%;
}
